@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(228, 99%, 58%);
    color: hsl(224, 100%, 95%);
}
/* Nav & children styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
    span {
        border: 1px solid hsl(0, 0%, 100%);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: hsl(0, 0%, 100%);
    }
    button {
        border: none;
        background-color: hsl(228, 99%, 58%);
    }
}